<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button routerLink="/home" routerLinkActive="router-link-active"  size="small"  slot="start" color="secondary">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title> <ion-icon name="person-add"></ion-icon> Nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="card">
  <ion-card-header color="primary">  
    <ion-card-title> <ion-icon name="accessibility"></ion-icon> Datos del cliente</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating" color="tertiary">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" ></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating" color="tertiary">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating" color="tertiary">Direccion</ion-label>
      <ion-input [(ngModel)]="direccion"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating" color="tertiary">DNI</ion-label>
      <ion-input [(ngModel)]="dni"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating" color="tertiary">N°Cel</ion-label>
      <ion-input [(ngModel)]="cel"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating" color="tertiary">Recomendado</ion-label>
      <ion-input [(ngModel)]="recomendado"></ion-input>
    </ion-item> 



  </ion-card-content>

</ion-card>

    <!--datos de la venta-->

    <ion-card class="card">
      <ion-card-header color="primary">
        
        <ion-card-title><ion-icon name="cash"></ion-icon> Datos de la venta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
            
    <ion-item>
      <ion-label position="floating" color="tertiary">Cel.comprado</ion-label>
      <ion-input [(ngModel)]="celComprado"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating" color="tertiary">Cel. en parte de pago</ion-label>
      <ion-input [(ngModel)]="celPartePago"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating" color="tertiary">Entrega</ion-label>
      <ion-input [(ngModel)]="entrega"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="tertiary">Valor cuota</ion-label>
      <ion-input [(ngModel)]="valorCuota"></ion-input>
    </ion-item>

    <ion-list color="tertiary">
      <ion-item>
        <ion-label color="tertiary">Cuotas</ion-label>
        <ion-select color="dark" placeholder ="Cuotas" okText="OK" cancelText="CERRAR"  [(ngModel)]="cuotas">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="13">13</ion-select-option>
          <ion-select-option value="14">14</ion-select-option>
          <ion-select-option value="15">15</ion-select-option>
          <ion-select-option value="16">16</ion-select-option>
          <ion-select-option value="17">17</ion-select-option>
          <ion-select-option value="18">18</ion-select-option>
          <ion-select-option value="19">19</ion-select-option>
          <ion-select-option value="20">20</ion-select-option>
          <ion-select-option value="21">21</ion-select-option>
          <ion-select-option value="22">22</ion-select-option>
          <ion-select-option value="23">23</ion-select-option>
          <ion-select-option value="24">24</ion-select-option>
          <ion-select-option value="25">25</ion-select-option>
          <ion-select-option value="26">26</ion-select-option>
          <ion-select-option value="27">27</ion-select-option>
          <ion-select-option value="28">28</ion-select-option>
          <ion-select-option value="29">29</ion-select-option>
          <ion-select-option value="30">30</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>
      </ion-card-content>
    </ion-card>



<ion-toolbar>
  <ion-button (click)="onAddCliente()" routerLinkActive="router-link-active"  expand="block"  shape="round" color="tertiary">
    <ion-icon name="checkbox"></ion-icon>listo
  </ion-button>
</ion-toolbar>
  
</ion-content>


